body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

 @media screen and (min-width: 768px) {
     .container {
         max-width: 768px;
     }
    }

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ========HEADER========== */

.header{
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-logo{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;
}

.header-logo-iris {
    color: #2E2F42;
}

.header-menu-list {
    display: none;
}

.header-address{
    display: none;
    font-style: normal;
    margin-left: auto;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: auto;
}

.mob-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mob-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.mob-close-btn:hover>.mob-close-icon,
.mob-close-btn:focus>.mob-close-icon {
    fill: #FFFFFF;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: auto;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.active {
    color: #404BBF;
}

.mob-menu-link:hover {
    color: #404bbf;
}
.mob-menu-link:focus {
    color: #404bbf;
}

.mob-address-menu {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
}

.mob-address-link {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.20;
   letter-spacing: 0.02em;
   color: #434455;
}

.mob-address-link:focus {
    color: #404bbf;
}

.mob-address-link:hover {
    color: #404bbf;
}

.mob-list {
    display: flex;
    column-gap: 40px;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icons {
    fill: #F4F4FD
}

.mob-soc-link:hover {
    background-color: #404BBF;
}

.mob-soc-link:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

.header-logo {
    margin-right: 120px;
}

.mob-menu {
    display: none;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
    left: 0;
    bottom: -1px;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    display: block;
}

.header-address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover {
    color: #404bbf;
}

.header-address-link:focus {
    color: #404bbf;
}

.open-menu-btn {
    display: none;
}

}

@media screen and (min-width: 1158px) {

.header-logo {
        margin-right: 76px;
    }

.header-address-menu {
        flex-direction: row;
        gap: 40px;
    }

.header-address-link {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

}

/* ================== */

/* =====HERO========= */

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice-mob-2x.jpg);
}
}


.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto 72px;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {

.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice-tab.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice-tab-2x.jpg);
    }
}

.hero-title {
    line-height: 1.07; 
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 36px;
}

}

@media screen and (min-width: 1158px) {
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Peopleoffice-2x.jpg);
    }
}

.hero-title {
    margin: 0 auto 48px;
}

}

/* ================== */

/* =====FEATURES===== */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-flow: column;
    gap: 72px;
}

.container-features-icon {
    display: none;
}

.features-subtitle {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-item-text {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    
.features-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: row;
    row-gap: 72px;
    }

.features-item {
    flex-basis: calc((100% - 24px) / 2);
}

.features-subtitle {
    text-align: left;
}

}

@media screen and (min-width: 1158px) {
    
.features {
    padding-top: 120px;
    padding-bottom: 120px;
        }

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.container-features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    height: 112px;
    margin-bottom: 8px;
}

.features-subtitle {

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

.features-item-text {
    font-weight: 400;
}

}


/* ================== */

/* =====COLLECTIV===== */

.collectiv .container {
    padding-left: 28px;
    padding-right: 28px;
}

.collectiv {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}


.collectiv-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.collectiv-list {
    display: flex;
    flex-wrap: wrap;  
    row-gap: 72px;
}


.collectiv-item {
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.container-collectiv {
    padding: 32px 0;
}


.collectiv-subtitle {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.collectiv-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.collectiv-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.collectiv-soc-item {
    width: 40px;
    height: 40px;
}

.collectiv-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collectiv-soc-icons {
    fill: #F4F4FD;
}

.collectiv-soc-link:hover {
    background-color: #404BBF;
}

.collectiv-soc-link:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

.collectiv .container {
    padding-left: 108px;
    padding-right: 108px;
}

.collectiv-list {
    gap: 24px; 
    row-gap: 64px;
}

.collectiv-item {
    width: calc((100% - 24px) / 2);
}

}

@media screen and (min-width: 1158px) {

.collectiv .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
        }
    
.collectiv {
    padding-top: 120px;
    padding-bottom: 120px;
}

.collectiv-list { 
    gap: 24px; 
}

.collectiv-item {
    flex-basis: calc((100% - 72px) / 4);
}


}

/* ================== */

/* =====PORTFOLIO===== */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}


.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    row-gap: 48px;
}

.portfolio-item {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.container-portfolio{
padding: 32px 16px;
border: 1px solid #E7E9FC;
border-top: none;
}


.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

 @media screen and (min-width: 768px) {

.portfolio-list {
    gap: 24px;
    row-gap: 72px;
     }

.portfolio-item {
    width: calc((100% - 24px) / 2);
     }
 } 

 @media screen and (min-width: 1158px) {

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);

 }
}
/* ================== */

/* =====FOOTER===== */

.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;

}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    justify-content: center;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.footer-logo-iris {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* width: 288px; */
}

.footer-soc {
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

}
 
.footer-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icons {
    fill: #F4F4FD;
}

.footer-soc-link:hover {
    background-color: #31D0AA;
}

.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-label {
    margin-bottom: 16px;
}

.footer-imput {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    
}

.footer-imput::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-btn-icons {
    margin-left: 16px;
    fill: #FFFFFF;
}

.footer-btn:hover {
    background-color: #404BBF;
}

.footer-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

.footer {
    padding: 96px 108px;
}

.footer-container{
    display: block;
    width: 264px;
    margin-right: 24px;
}

.footer-soc {
    margin-left: 0;
} 

.footer-soc-text {
    justify-content: flex-start;
}

.footer-imput {
    width: 264px;
}

.footer-form-container {
    display: flex;
    align-items: baseline;
}

.footer-form {
    flex-direction: row;

}

.footer-label {
    margin-bottom: 0;
    margin-right: 24px;
}

}

@media screen and (min-width: 1158px) {
.footer {
    padding: 100px 15px;
}

.d-flex {
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
    margin-bottom: 0;
}

.footer-soc-text {
    justify-content: flex-start;
}

.footer-form-container {
    margin-left: auto;
}


}

/* ================== */

/* ======backdrop==== */ 

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close:hover > .modal-close-icon,
.modal-close:focus > .modal-close-icon {
    fill: #FFFFFF;
} 

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
   color: rgba(46, 47, 66, 0.4);
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;
}

.privacy-span {
    display: inline-flex;
}

.check-text a {
    line-height: 1.4;
    color: #4D5AE5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.form-check:focus+ .check-text span {
    border-color: #4D5AE5;
}

.modal-check {
    margin-bottom: 24px;
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    border: none;
    margin: 24px auto 0;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    }
}

/* ================== */

